<div class="page-header">
  <h1>Food Detail #<%= @food_detail.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Event</dt>
  <dd><%= @food_detail.event_id %></dd>

  <dt>Dietary restrictions</dt>
  <dd><%= @food_detail.dietary_restriction_id %></dd>

  <dt>Quantity</dt>
  <dd><%= @food_detail.quantity %></dd>

</dl>
