<div class="page-header">
  <h1>New Dietary Restriction</h1>
</div>

<%= form_tag(dietary_restrictions_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :dietary_notes, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :dietary_notes, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Dietary Restriction", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
