<div class="page-header">
  <h1>Dietary Restriction #<%= @dietary_restriction.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Dietary notes</dt>
  <dd><%= @dietary_restriction.dietary_notes %></dd>

</dl>
